@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
	font-family: "Bebas Neue", cursive;
	@apply text-4xl md:text-5xl font-bold mb-5 tracking-wide;
}

body {
	@apply flex justify-center items-center flex-col min-h-screen overflow-x-hidden
	dark:bg-dark_bg dark:text-dark_text;
}

input {
	font-family: "Nunito", sans-serif;
	@apply border-2 border-r-0 rounded-l-lg py-2 px-4 w-full inline-block outline-none
	dark:bg-transparent dark:border-dark_border dark:border-opacity-75;
}

textarea {
	font-family: "Rubik", sans-serif;
	@apply border-2 rounded-xl resize-none w-full mb-2 px-4 py-2 text-sm md:text-base shadow-lg min-h-[1rem] overflow-y-hidden
	outline-none bg-white hover:scale-105 transition-transform focus:scale-90 origin-bottom
	dark:bg-transparent dark:shadow-dark_border dark:border-dark_border dark:border-opacity-75;
}

.input-container button,
.copy-container button {
	@apply bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-r-lg inline-block transition-colors
	dark:bg-dark_btn dark:hover:bg-dark_btn_hover;
}

div.input-container {
	@apply w-11/12 md:w-7/12 flex justify-center mb-5;
}

div.copy-container {
	@apply mx-auto w-11/12 md:w-7/12 flex justify-center flex-col mb-5;
}

#copy {
	@apply rounded-md mx-auto transition-[width] duration-700 w-[100px];
}

.logo {
	@apply w-20 h-20 my-5
	md:w-10 md:h-10 md:mr-5;
}

.header {
	@apply flex flex-col items-center
	md:flex-row md:items-baseline;
}

#title h2 {
	@apply text-xl font-bold;
}

#title p {
	@apply text-sm md:text-xs text-slate-700 dark:text-gray-300 font-medium;
}

#title {
	@apply w-full flex flex-col md:flex-row items-center md:items-baseline;
}

#previous-citation {
	@apply max-w-[92%] md:max-w-[60%];
}

.citation {
	@apply border cursor-pointer text-sm md:text-base
	flex flex-row justify-between
	dark:border-slate-700 dark:border-opacity-75;
}
.citation + .citation {
	@apply border-t-0;
}

div.citation:nth-of-type(2) {
	@apply rounded-t-lg;
}

.citation:last-of-type {
	@apply rounded-b-lg;
}
.citation span {
	@apply py-2 px-4 w-full overflow-auto;
}
.citation button {
	@apply text-red-500 px-2 hover:scale-125 transition-transform;
}

/* CSS For the notfication */

.NotiCont {
	@apply absolute bottom-0 right-0 m-4;
}

.Notification {
	@apply bg-sky-300 text-white font-bold py-2 px-4 rounded-md mt-2 transition-transform;
	animation: SlideIn 500ms;
}

.Notification.SlideOut {
	transition-duration: 500ms;
	transform: translateX(110%);
}

svg {
	@apply w-6 h-6 inline-block;
}

.Notification svg {
	@apply mr-2;
}

@keyframes SlideIn {
	0% {
		transform: translateX(100%);
	}
	100% {
		transform: translateX(0%);
	}
}

/* Signature */

a[signature] {
	@apply flex items-center gap-1
		fixed bottom-4 left-4 text-white py-2.5 px-5
		bg-white/10 border border-white/20 rounded-md backdrop-blur no-underline
		hover:bg-white/20 hover:border-white/30;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	transition: background-color 500ms, border-color 500ms;
}

a[signature] svg {
	@apply w-5 h-5;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
	scrollbar-width: auto;
	scrollbar-color: #d38e17 #302c2c;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
	@apply w-2;
}

*::-webkit-scrollbar-track {
	@apply dark:bg-dark_bg dark:bg-opacity-75;
}

*::-webkit-scrollbar-thumb {
	@apply bg-orange-400 shadow-inner;
	border-radius: 10px;
}

/* Google Ad Container CSS */
div[adContainer] {
	@apply absolute inset-y-0 right-0 w-2/12
	hidden md:block;
}
