@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Nunito&family=Rubik&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
	font-family: "Bebas Neue", cursive;
	@apply text-5xl font-bold mb-5 tracking-wide;
}

body {
	@apply flex justify-center items-center flex-col h-screen;
}

input {
	font-family: "Nunito", sans-serif;
	@apply border-2 border-r-0 rounded-l-lg py-2 px-4 w-8/12 inline-block outline-none;
}

textarea {
	font-family: "Rubik", sans-serif;
	@apply border-2 rounded-xl resize-none w-full mb-2 px-4 py-2 text-base shadow-lg h-28
	outline-none bg-white hover:scale-105 transition-transform focus:scale-90 origin-bottom;
}

button {
	@apply bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-r-lg inline-block;
}

div.input-container {
	@apply w-full flex justify-center mb-5;
}

div.copy-container {
	@apply mx-auto w-7/12 flex justify-center flex-col mb-5;
}

#copy {
	@apply rounded-md max-w-max;
}
